<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- при наличии зеркала/прокси-репозитория добавьте здесь второй источник -->
  </packageSources>
  <config>
    <!-- Таймаут HTTP-запросов (секунды). По умолчанию 100. -->
    <add key="httpRequestTimeout" value="600" />
    <!-- Ограничим параллельные запросы на источник -->
    <add key="maxHttpRequestsPerSource" value="4" />
  </config>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>
