@{
    Layout = "_LayoutWithoutContainer";
    ViewData["Title"] = "Список пациентов";
}

@section Styles
{
    <link href="~/lib/datatables.net-bs5/css/jquery.datatables.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs5/css/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs5/css/searchpanes.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs5/css/fixedheader.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs5/css/scroller.bootstrap5.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/lib/datatables.net-bs5/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/datatables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/searchpanes.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/fixedheader.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/scroller.bootstrap5.min.js"></script>
    <script src="~/js/patient.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<!-- Модальные окна -->
<!-- Модальное окно для CRUD операций c таблицей -->
<div id="form-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно для печати документов -->
<div id="form-print-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Печать документа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    @{
                        //todo: Подумать, переделать на enum
                    }
                    <select id="print-select" data-patient-id="" class="form-select">
                        <option value="0">Выберите документ</option>
                        <option value="1">Документ №1</option>
                        <option value="2">Документ №2</option>
                    </select>
                </div>
                <div id="print-form-data"></div>
            </div>
        </div>
    </div>
</div>
<!-- Конец модальных окн -->

<div class="card" style="margin: 10px;">
    <div class="col-sm-12" style="padding:20px">
        <!-- Меню -->
        <a id="add-patient" class="btn btn-primary"><i class="fa fa-plus"></i> пациент</a>
        <a id="reload" class="btn btn-outline-info"><i class="fa fa-refresh"></i> список</a>
        <a onclick="" class="btn btn-outline-danger"><i class="fa fa-bitbucket"></i> (2)</a>
        <!-- onclick="printModalShow()" -->
    </div>
    <div class="card-body table-responsive">
        <div style="width: 100%; overflow-x: auto;">
            <table id="table" class="table table-custom table-bordered table-hover">
                <thead>
                    <tr>
                        @* <th></th> *@
                        @* <th>ID</th> *@
                        @* <th>Тип госпитализации</th> *@
                        @* <th>Постановление</th> *@
                        @* <th>Номер истории болезни</th> *@
                        @* <th>Дата поступления</th> *@
                        @* <th>Отделение</th> *@
                        @* <th>ФИО</th> *@
                        @* <th>Дата рожденья</th> *@
                        @* <th>Несовершеннолетний</th> *@
                        @* <th>Гражданство</th> *@
                        @* <th>Страна</th> *@
                        @* <th>Место регистрация</th> *@
                        @* <th>БОМЖ</th> *@
                        @* <th>Раняя регистрация</th> *@
                        @* <th>Место рождения</th> *@
                        @* <th>Дееспособный</th> *@
                        @* <th>Получает ли пенсию</th> *@
                        @* <th>Группа инвалидности</th> *@
                        @* <th>Примечание</th> *@

                        <th>ID</th>
                        <th>ФИО</th>
                    </tr>
                </thead>
                @{
                    //todo: Переименовать viewAll в patientActiveAll
                }
                <tbody id="viewAll"></tbody>
            </table>
        </div>
    </div>
</div>