@using CRM.SocialDepartment.Infrastructure.DataAccess.MongoDb.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <!-- Авторизованный пользователь -->
    <div class="navbar-nav">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user-circle me-2"></i>
                <span class="d-none d-md-inline">@User.Identity?.Name</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0" aria-labelledby="userDropdown">
                <li>
                    <h6 class="dropdown-header">
                        <i class="fa fa-user me-2"></i>@User.Identity?.Name
                    </h6>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" 
                          class="d-inline" method="post">
                        <button type="submit" class="dropdown-item text-danger">
                            <i class="fa fa-sign-out me-2"></i>Выйти из системы
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <!-- Неавторизованный пользователь -->
    <div class="navbar-nav">
        <a class="nav-link btn btn-primary text-white px-3 rounded" asp-area="Identity" asp-page="/Account/Login">
            <i class="fa fa-sign-in me-1"></i>Войти
        </a>
    </div>
}
